In [1]:
import pandas as pd
import os
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')
import sqlite3
import traceback
import csv
from sqlalchemy import create_engine, text

In [2]:
csvOutputFile = './output_directory_path/teen_birth_rate_data.csv'
e = create_engine('sqlite:///teen_birth.db')
if not os.path.isfile('teen_birth.db'):
    file_path_2023 = 'Recources/2023.xlsx'
    df_2023 = pd.read_excel(file_path_2023)

    file_path_2022 = 'Recources/2022.xlsx'
    df_2022 = pd.read_excel(file_path_2022)

    file_path_2021 = 'Recources/2021.xlsx'
    df_2021 = pd.read_excel(file_path_2021)

    file_path_2020 = 'Recources/2020.xlsx'
    df_2020 = pd.read_excel(file_path_2020)

    file_path_2019 = 'Recources/2019.xlsx'
    df_2019 = pd.read_excel(file_path_2019)

    file_path_2018 = 'Recources/2018.xlsx'
    df_2018 = pd.read_excel(file_path_2018)

    file_path_2017 = 'Recources/2017.xlsx'
    df_2017 = pd.read_excel(file_path_2017)

    file_path_2016 = 'Recources/2016.xlsx'
    df_2016 = pd.read_excel(file_path_2016)

    file_path_2015 = 'Recources/2015.xlsx'
    df_2015 = pd.read_excel(file_path_2015)

    file_path_2014 = 'Recources/2014.xlsx'
    df_2014 = pd.read_excel(file_path_2014)

    file_path_2013 = 'Recources/2013.xlsx'
    df_2013 = pd.read_excel(file_path_2013)

  
    df_2013.to_sql('df_2013', e, if_exists='append')
    df_2014.to_sql('df_2014', e, if_exists='append')
    df_2015.to_sql('df_2015', e, if_exists='append')
    df_2016.to_sql('df_2016', e, if_exists='append')
    df_2017.to_sql('df_2017', e, if_exists='append')
    df_2018.to_sql('df_2018', e, if_exists='append')
    df_2019.to_sql('df_2019', e, if_exists='append')
    df_2020.to_sql('df_2020', e, if_exists='append')
    df_2021.to_sql('df_2021', e, if_exists='append')
    df_2022.to_sql('df_2022', e, if_exists='append')
    df_2023.to_sql('df_2023', e, if_exists='append')

else:
    df_2013 = pd.DataFrame(e.connect().execute(text('SELECT * FROM df_2013')))
    df_2014 = pd.DataFrame(e.connect().execute(text('SELECT * FROM df_2014')))
    df_2015 = pd.DataFrame(e.connect().execute(text('SELECT * FROM df_2015')))
    df_2016 = pd.DataFrame(e.connect().execute(text('SELECT * FROM df_2016')))
    df_2017 = pd.DataFrame(e.connect().execute(text('SELECT * FROM df_2017')))
    df_2018 = pd.DataFrame(e.connect().execute(text('SELECT * FROM df_2018')))
    df_2019 = pd.DataFrame(e.connect().execute(text('SELECT * FROM df_2019')))
    df_2020 = pd.DataFrame(e.connect().execute(text('SELECT * FROM df_2020')))
    df_2021 = pd.DataFrame(e.connect().execute(text('SELECT * FROM df_2021')))
    df_2022 = pd.DataFrame(e.connect().execute(text('SELECT * FROM df_2022')))
    df_2023 = pd.DataFrame(e.connect().execute(text('SELECT * FROM df_2023')))

In [3]:
desired_columns_2023 = ['FIPS', 'State', 'County', 'Teen Birth Rate']
df_2023 = df_2023[desired_columns_2023]

desired_columns_2022 = ['FIPS', 'Teen Birth Rate']
df_2022 = df_2022[desired_columns_2022]

desired_columns_2021 = ['FIPS', 'Teen Birth Rate']
df_2021 = df_2021[desired_columns_2021]

desired_columns_2020 = ['FIPS', 'Teen Birth Rate']
df_2020 = df_2020[desired_columns_2020]

desired_columns_2019 = ['FIPS', 'Teen Birth Rate']
df_2019 = df_2019[desired_columns_2019]

desired_columns_2018 = ['FIPS', 'Teen Birth Rate']
df_2018 = df_2018[desired_columns_2018]

desired_columns_2017 = ['FIPS', 'Teen Birth Rate']
df_2017 = df_2017[desired_columns_2017]

desired_columns_2016 = ['FIPS', 'Teen Birth Rate']
df_2016 = df_2016[desired_columns_2016]

desired_columns_2015 = ['FIPS', 'Teen Birth Rate']
df_2015 = df_2015[desired_columns_2015]

desired_columns_2014 = ['FIPS', 'Teen Birth Rate']
df_2014 = df_2014[desired_columns_2014]

desired_columns_2013 = ['FIPS', 'Teen Birth Rate']
df_2013 = df_2013[desired_columns_2013]

In [4]:
column_name= 'Teen Birth Rate'
new_column_name_2023 = f'{column_name}_2023'  # Modify the column name accordingly
df_2023.rename(columns={column_name: new_column_name_2023}, inplace=True)

new_column_name_2022 = f'{column_name}_2022'  # Modify the column name accordingly
df_2022.rename(columns={column_name: new_column_name_2022}, inplace=True)

new_column_name_2021 = f'{column_name}_2021' # Modify the column name accordingly
df_2021.rename(columns={column_name: new_column_name_2021}, inplace=True)

new_column_name_2020 = f'{column_name}_2020'  # Modify the column name accordingly
df_2020.rename(columns={column_name: new_column_name_2020}, inplace=True)

new_column_name_2019 = f'{column_name}_2019'  # Modify the column name accordingly
df_2019.rename(columns={column_name: new_column_name_2019}, inplace=True)

new_column_name_2018 = f'{column_name}_2018'  # Modify the column name accordingly
df_2018.rename(columns={column_name: new_column_name_2018}, inplace=True)

new_column_name_2017 = f'{column_name}_2017'  # Modify the column name accordingly
df_2017.rename(columns={column_name: new_column_name_2017}, inplace=True)

new_column_name_2016 = f'{column_name}_2016'  # Modify the column name accordingly
df_2016.rename(columns={column_name: new_column_name_2016}, inplace=True)

new_column_name_2015 = f'{column_name}_2015'  # Modify the column name accordingly
df_2015.rename(columns={column_name: new_column_name_2015}, inplace=True)

new_column_name_2014 = f'{column_name}_2014' # Modify the column name accordingly
df_2014.rename(columns={column_name: new_column_name_2014}, inplace=True)

new_column_name_2013 = f'{column_name}_2013'  # Modify the column name accordingly
df_2013.rename(columns={column_name: new_column_name_2013}, inplace=True)

In [5]:
df_merged = pd.merge(df_2022, df_2023, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2021, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2020, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2019, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2018, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2017, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2016, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2015, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2014, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2013, on='FIPS', how='left')
df_merged

,FIPS,Teen Birth Rate_2022,State,County,Teen Birth Rate_2023,Teen Birth Rate_2021,Teen Birth Rate_2020,Teen Birth Rate_2019,Teen Birth Rate_2018,Teen Birth Rate_2017,Teen Birth Rate_2016,Teen Birth Rate_2015,Teen Birth Rate_2014,Teen Birth Rate_2013
0,1000,27.598889,Alabama,NaN,27.598889,28.955257,30.894616,NaN,NaN,NaN,NaN,NaN,NaN,49.331992
1,1001,22.976946,Alabama,Autauga,22.976946,23.764041,25.284927,26.524208,27.996758,32.418778,35.183521,36.499863,38.992409,42.505593
2,1003,23.734320,Alabama,Baldwin,23.734320,26.006904,27.880692,29.594009,31.965138,38.019408,41.620561,44.532662,46.396536,48.242627
3,1005,34.700315,Alabama,Barbour,34.700315,37.114262,40.870815,45.092838,50.189205,59.021292,67.902335,72.873800,73.779983,74.432630
4,1007,34.166873,Alabama,Bibb,34.166873,37.786446,41.696794,45.454545,47.260274,47.497880,48.393740,50.850851,49.276496,47.786230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,26.687753,Wyoming,Sweetwater,26.687753,29.262970,31.293325,34.261671,36.761003,46.146096,50.120773,52.298099,55.583375,56.538500
3189,56039,9.487103,Wyoming,Teton,9.487103,9.343066,10.462075,11.641444,14.903565,20.426288,23.186683,27.100271,31.164902,33.072760
3190,56041,25.987107,Wyoming,Uinta,25.987107,27.727907,30.632411,31.798673,33.159823,37.457435,40.226629,42.513168,41.527002,42.436437
3191,56043,20.905923,Wyoming,Washakie,20.905923,23.468804,25.229358,27.649770,28.935185,32.239819,36.158192,39.705048,41.878891,43.010753
3192,56045,18.806214,Wyoming,Weston,18.806214,21.915584,25.723473,32.462391,32.156863,36.126057,42.200452,44.819985,43.018336,36.241611

In [6]:
output_directory = 'output_directory_path'
if not os.path.exists(output_directory):
    os.makedirs(output_directory)
    
output_filename = 'teen_birth_rate_data.xlsx'
output_file = os.path.join(output_directory, output_filename)

df_merged.dropna(subset=['FIPS'], inplace=True)
df_merged['FIPS'] = df_merged['FIPS'].astype(str).str.zfill(5)
columns = df_merged.columns.tolist()
columns.insert(4, columns.pop(1))
df_merged = df_merged[columns]
start_pos = 3
end_pos = 13
columns = df_merged.columns.tolist()
subset_columns = columns[start_pos:end_pos+1]
subset_columns.reverse()
columns[start_pos:end_pos+1] = subset_columns
df_merged = df_merged[columns]
df_merged.iloc[:, 3:14] = df_merged.iloc[:, 3:14].round(1)
df_merged.to_excel(output_file, index=False)
df_merged.fillna(0, inplace=True)
df_merged = df_merged[df_merged.iloc[:, 2] != 0]
df_merged = df_merged.replace(' ', '_', regex=True)
df_merged = df_merged.replace('Teen Birth Rate', 'Teen_Birth_Rate', regex=True)

# df_merged.to_sql('df_merged', e, if_exists='append')

df_merged

,FIPS,State,County,Teen Birth Rate_2013,Teen Birth Rate_2014,Teen Birth Rate_2015,Teen Birth Rate_2016,Teen Birth Rate_2017,Teen Birth Rate_2018,Teen Birth Rate_2019,Teen Birth Rate_2020,Teen Birth Rate_2021,Teen Birth Rate_2022,Teen Birth Rate_2023
1,01001,Alabama,Autauga,42.5,39.0,36.5,35.2,32.4,28.0,26.5,25.3,23.8,23.0,23.0
2,01003,Alabama,Baldwin,48.2,46.4,44.5,41.6,38.0,32.0,29.6,27.9,26.0,23.7,23.7
3,01005,Alabama,Barbour,74.4,73.8,72.9,67.9,59.0,50.2,45.1,40.9,37.1,34.7,34.7
4,01007,Alabama,Bibb,47.8,49.3,50.9,48.4,47.5,47.3,45.5,41.7,37.8,34.2,34.2
5,01009,Alabama,Blount,49.0,47.6,47.2,45.3,43.2,39.6,35.6,33.5,31.2,29.5,29.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Wyoming,Sweetwater,56.5,55.6,52.3,50.1,46.1,36.8,34.3,31.3,29.3,26.7,26.7
3189,56039,Wyoming,Teton,33.1,31.2,27.1,23.2,20.4,14.9,11.6,10.5,9.3,9.5,9.5
3190,56041,Wyoming,Uinta,42.4,41.5,42.5,40.2,37.5,33.2,31.8,30.6,27.7,26.0,26.0
3191,56043,Wyoming,Washakie,43.0,41.9,39.7,36.2,32.2,28.9,27.6,25.2,23.5,20.9,20.9
3192,56045,Wyoming,Weston,36.2,43.0,44.8,42.2,36.1,32.2,32.5,25.7,21.9,18.8,18.8

In [8]:
X = df_merged.iloc[:, 3:12]  
y = df_merged['Teen Birth Rate_2023']

In [9]:
X_encoded = pd.get_dummies(X, drop_first=True)
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

In [10]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [11]:
y_pred = model.predict(X_test)

In [12]:
r_squared = r2_score(y_test, y_pred)
print('R-squared:', r_squared)

R-squared: 0.9593332454137964

In [13]:
output_directory = 'output_directory_path'
output_filename = 'predictions_teen_birth_rate_2023.xlsx'
output_file = os.path.join(output_directory, output_filename)

In [14]:
predictions_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
predictions_df.to_excel(output_file, index=False)
print(f"Predictions exported to: {output_file}")

Predictions exported to: output_directory_path\predictions_teen_birth_rate_2023.xlsx

In [15]:
# Predict values for 2024
copied_df_2024 = df_merged.copy()

In [16]:
X_2024 = copied_df_2024.iloc[:, 3:13]

In [17]:
X_2024_encoded = pd.get_dummies(X_2024, drop_first=True)
X_2024_encoded = X_2024_encoded.reindex(columns=X_train.columns, fill_value=0)

In [18]:
y_pred_2024 = model.predict(X_2024_encoded)

In [19]:
copied_df_2024['Teen Birth Rate_2024'] = y_pred_2024

In [20]:
output_filename_2024 = 'predictions_teen_birth_rate_2024.xlsx'
output_file_2024 = os.path.join(output_directory, output_filename_2024)
copied_df_2024.to_excel(output_file_2024, index=False)
print(f"Predictions for 2024 exported to: {output_file_2024}")

Predictions for 2024 exported to: output_directory_path\predictions_teen_birth_rate_2024.xlsx

In [21]:
output_directory = 'output_directory_path'
output_filename = 'copied_df_teen_birth_rate_2024.xlsx'
output_file = os.path.join(output_directory, output_filename)

copied_df_2024.to_excel(output_file, index=False)
print(f"DataFrame exported to: {output_file}")

DataFrame exported to: output_directory_path\copied_df_teen_birth_rate_2024.xlsx

In [22]:
copied_df_2024

,FIPS,State,County,Teen Birth Rate_2013,Teen Birth Rate_2014,Teen Birth Rate_2015,Teen Birth Rate_2016,Teen Birth Rate_2017,Teen Birth Rate_2018,Teen Birth Rate_2019,Teen Birth Rate_2020,Teen Birth Rate_2021,Teen Birth Rate_2022,Teen Birth Rate_2023,Teen Birth Rate_2024
1,01001,Alabama,Autauga,42.5,39.0,36.5,35.2,32.4,28.0,26.5,25.3,23.8,23.0,23.0,22.288217
2,01003,Alabama,Baldwin,48.2,46.4,44.5,41.6,38.0,32.0,29.6,27.9,26.0,23.7,23.7,24.643761
3,01005,Alabama,Barbour,74.4,73.8,72.9,67.9,59.0,50.2,45.1,40.9,37.1,34.7,34.7,35.384815
4,01007,Alabama,Bibb,47.8,49.3,50.9,48.4,47.5,47.3,45.5,41.7,37.8,34.2,34.2,35.069644
5,01009,Alabama,Blount,49.0,47.6,47.2,45.3,43.2,39.6,35.6,33.5,31.2,29.5,29.5,29.017878
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Wyoming,Sweetwater,56.5,55.6,52.3,50.1,46.1,36.8,34.3,31.3,29.3,26.7,26.7,27.474892
3189,56039,Wyoming,Teton,33.1,31.2,27.1,23.2,20.4,14.9,11.6,10.5,9.3,9.5,9.5,9.338812
3190,56041,Wyoming,Uinta,42.4,41.5,42.5,40.2,37.5,33.2,31.8,30.6,27.7,26.0,26.0,26.007407
3191,56043,Wyoming,Washakie,43.0,41.9,39.7,36.2,32.2,28.9,27.6,25.2,23.5,20.9,20.9,22.492297
3192,56045,Wyoming,Weston,36.2,43.0,44.8,42.2,36.1,32.2,32.5,25.7,21.9,18.8,18.8,20.380964

In [23]:
# Predict values for 2025
input_file = 'output_directory_path/copied_df_teen_birth_rate_2024.xlsx'
df_merged = pd.read_excel(input_file)

In [24]:
X = df_merged.iloc[:, 3:13].values  # Features from 2013 to 2023
y = df_merged.iloc[:, 14].values    # Target variable for 2024 (Column 15)

In [25]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [26]:
model = LinearRegression()
model.fit(X_scaled, y)

LinearRegression()

In [27]:
features_2025 = df_merged.iloc[:, 4:14].values  # Features from 2014 to 2024
features_2025_scaled = scaler.transform(features_2025)

In [28]:
predictions_2025 = model.predict(features_2025_scaled)

In [29]:
df_merged['Teen Birth Rate_2025'] = predictions_2025

In [30]:
r_squared = r2_score(y, model.predict(X_scaled))
print("R-squared:", r_squared)

R-squared: 1.0

In [31]:
df_merged

,FIPS,State,County,Teen Birth Rate_2013,Teen Birth Rate_2014,Teen Birth Rate_2015,Teen Birth Rate_2016,Teen Birth Rate_2017,Teen Birth Rate_2018,Teen Birth Rate_2019,Teen Birth Rate_2020,Teen Birth Rate_2021,Teen Birth Rate_2022,Teen Birth Rate_2023,Teen Birth Rate_2024,Teen Birth Rate_2025
0,1001,Alabama,Autauga,42.5,39.0,36.5,35.2,32.4,28.0,26.5,25.3,23.8,23.0,23.0,22.288217,22.004726
1,1003,Alabama,Baldwin,48.2,46.4,44.5,41.6,38.0,32.0,29.6,27.9,26.0,23.7,23.7,24.643761,22.875943
2,1005,Alabama,Barbour,74.4,73.8,72.9,67.9,59.0,50.2,45.1,40.9,37.1,34.7,34.7,35.384815,34.329077
3,1007,Alabama,Bibb,47.8,49.3,50.9,48.4,47.5,47.3,45.5,41.7,37.8,34.2,34.2,35.069644,31.319667
4,1009,Alabama,Blount,49.0,47.6,47.2,45.3,43.2,39.6,35.6,33.5,31.2,29.5,29.5,29.017878,27.712273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,Wyoming,Sweetwater,56.5,55.6,52.3,50.1,46.1,36.8,34.3,31.3,29.3,26.7,26.7,27.474892,25.899278
3138,56039,Wyoming,Teton,33.1,31.2,27.1,23.2,20.4,14.9,11.6,10.5,9.3,9.5,9.5,9.338812,9.602281
3139,56041,Wyoming,Uinta,42.4,41.5,42.5,40.2,37.5,33.2,31.8,30.6,27.7,26.0,26.0,26.007407,24.646454
3140,56043,Wyoming,Washakie,43.0,41.9,39.7,36.2,32.2,28.9,27.6,25.2,23.5,20.9,20.9,22.492297,20.166151
3141,56045,Wyoming,Weston,36.2,43.0,44.8,42.2,36.1,32.2,32.5,25.7,21.9,18.8,18.8,20.380964,18.324944

In [32]:
output_file = 'output_directory_path/copied_df_teen_birth_rate_2025.xlsx'
df_merged.to_excel(output_file, index=False)
print(f"DataFrame successfully exported to {output_file}")

DataFrame successfully exported to output_directory_path/copied_df_teen_birth_rate_2025.xlsx

In [33]:
# Predict values for 2026
input_file = 'output_directory_path/copied_df_teen_birth_rate_2025.xlsx'
df_merged = pd.read_excel(input_file)

In [34]:
X = df_merged.iloc[:, 3:14].values  # Features from 2013 to 2024
y = df_merged.iloc[:, 15].values    # Target variable for 2025 (Column 15)

In [35]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [36]:
model = LinearRegression()
model.fit(X_scaled, y)

LinearRegression()

In [37]:
features_2026 = df_merged.iloc[:, 4:15].values  # Features from 2014 to 2025
features_2026_scaled = scaler.transform(features_2026)

In [38]:
predictions_2026 = model.predict(features_2026_scaled)

In [39]:
df_merged['Teen Birth Rate_2026'] = predictions_2026

In [40]:
r_squared = r2_score(y, model.predict(X_scaled))
print("R-squared:", r_squared)

R-squared: 1.0

In [41]:
df_merged

,FIPS,State,County,Teen Birth Rate_2013,Teen Birth Rate_2014,Teen Birth Rate_2015,Teen Birth Rate_2016,Teen Birth Rate_2017,Teen Birth Rate_2018,Teen Birth Rate_2019,Teen Birth Rate_2020,Teen Birth Rate_2021,Teen Birth Rate_2022,Teen Birth Rate_2023,Teen Birth Rate_2024,Teen Birth Rate_2025,Teen Birth Rate_2026
0,1001,Alabama,Autauga,42.5,39.0,36.5,35.2,32.4,28.0,26.5,25.3,23.8,23.0,23.0,22.288217,22.004726,21.969650
1,1003,Alabama,Baldwin,48.2,46.4,44.5,41.6,38.0,32.0,29.6,27.9,26.0,23.7,23.7,24.643761,22.875943,23.712404
2,1005,Alabama,Barbour,74.4,73.8,72.9,67.9,59.0,50.2,45.1,40.9,37.1,34.7,34.7,35.384815,34.329077,34.746675
3,1007,Alabama,Bibb,47.8,49.3,50.9,48.4,47.5,47.3,45.5,41.7,37.8,34.2,34.2,35.069644,31.319667,31.792122
4,1009,Alabama,Blount,49.0,47.6,47.2,45.3,43.2,39.6,35.6,33.5,31.2,29.5,29.5,29.017878,27.712273,27.991777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,Wyoming,Sweetwater,56.5,55.6,52.3,50.1,46.1,36.8,34.3,31.3,29.3,26.7,26.7,27.474892,25.899278,27.175430
3138,56039,Wyoming,Teton,33.1,31.2,27.1,23.2,20.4,14.9,11.6,10.5,9.3,9.5,9.5,9.338812,9.602281,10.106910
3139,56041,Wyoming,Uinta,42.4,41.5,42.5,40.2,37.5,33.2,31.8,30.6,27.7,26.0,26.0,26.007407,24.646454,24.938560
3140,56043,Wyoming,Washakie,43.0,41.9,39.7,36.2,32.2,28.9,27.6,25.2,23.5,20.9,20.9,22.492297,20.166151,20.691844
3141,56045,Wyoming,Weston,36.2,43.0,44.8,42.2,36.1,32.2,32.5,25.7,21.9,18.8,18.8,20.380964,18.324944,18.647362

In [42]:
output_file = 'output_directory_path/copied_df_teen_birth_rate_2026.xlsx'
df_merged.to_excel(output_file, index=False)
print(f"DataFrame successfully exported to {output_file}")

DataFrame successfully exported to output_directory_path/copied_df_teen_birth_rate_2026.xlsx

In [43]:
# Predict values for 2027
input_file = 'output_directory_path/copied_df_teen_birth_rate_2026.xlsx'
df_merged = pd.read_excel(input_file)

In [44]:
X = df_merged.iloc[:, 3:15].values  # Features from 2013 to 2024
y = df_merged.iloc[:, 16].values    # Target variable for 2025 (Column 15)

In [45]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [46]:
model = LinearRegression()
model.fit(X_scaled, y)

LinearRegression()

In [47]:
features_2027 = df_merged.iloc[:, 4:16].values  # Features from 2014 to 2026
features_2027_scaled = scaler.transform(features_2027)

In [48]:
predictions_2027 = model.predict(features_2027_scaled)

In [49]:
df_merged['Teen Birth Rate_2027'] = predictions_2027

In [50]:
r_squared = r2_score(y, model.predict(X_scaled))
print("R-squared:", r_squared)

R-squared: 1.0

In [51]:
df_merged

,FIPS,State,County,Teen Birth Rate_2013,Teen Birth Rate_2014,Teen Birth Rate_2015,Teen Birth Rate_2016,Teen Birth Rate_2017,Teen Birth Rate_2018,Teen Birth Rate_2019,Teen Birth Rate_2020,Teen Birth Rate_2021,Teen Birth Rate_2022,Teen Birth Rate_2023,Teen Birth Rate_2024,Teen Birth Rate_2025,Teen Birth Rate_2026,Teen Birth Rate_2027
0,1001,Alabama,Autauga,42.5,39.0,36.5,35.2,32.4,28.0,26.5,25.3,23.8,23.0,23.0,22.288217,22.004726,21.969650,21.091946
1,1003,Alabama,Baldwin,48.2,46.4,44.5,41.6,38.0,32.0,29.6,27.9,26.0,23.7,23.7,24.643761,22.875943,23.712404,22.505861
2,1005,Alabama,Barbour,74.4,73.8,72.9,67.9,59.0,50.2,45.1,40.9,37.1,34.7,34.7,35.384815,34.329077,34.746675,33.776847
3,1007,Alabama,Bibb,47.8,49.3,50.9,48.4,47.5,47.3,45.5,41.7,37.8,34.2,34.2,35.069644,31.319667,31.792122,31.068049
4,1009,Alabama,Blount,49.0,47.6,47.2,45.3,43.2,39.6,35.6,33.5,31.2,29.5,29.5,29.017878,27.712273,27.991777,27.419269
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,Wyoming,Sweetwater,56.5,55.6,52.3,50.1,46.1,36.8,34.3,31.3,29.3,26.7,26.7,27.474892,25.899278,27.175430,25.474705
3138,56039,Wyoming,Teton,33.1,31.2,27.1,23.2,20.4,14.9,11.6,10.5,9.3,9.5,9.5,9.338812,9.602281,10.106910,9.651011
3139,56041,Wyoming,Uinta,42.4,41.5,42.5,40.2,37.5,33.2,31.8,30.6,27.7,26.0,26.0,26.007407,24.646454,24.938560,23.842718
3140,56043,Wyoming,Washakie,43.0,41.9,39.7,36.2,32.2,28.9,27.6,25.2,23.5,20.9,20.9,22.492297,20.166151,20.691844,19.810375
3141,56045,Wyoming,Weston,36.2,43.0,44.8,42.2,36.1,32.2,32.5,25.7,21.9,18.8,18.8,20.380964,18.324944,18.647362,17.881841

In [52]:
df_merged.iloc[:, 14:18] = df_merged.iloc[:, 14:18].round(1)

In [53]:
output_file = 'output_directory_path/copied_df_teen_birth_rate_2027.xlsx'
df_merged.to_excel(output_file, index=False)
print(f"DataFrame successfully exported to {output_file}")

DataFrame successfully exported to output_directory_path/copied_df_teen_birth_rate_2027.xlsx

In [54]:
df_merged

,FIPS,State,County,Teen Birth Rate_2013,Teen Birth Rate_2014,Teen Birth Rate_2015,Teen Birth Rate_2016,Teen Birth Rate_2017,Teen Birth Rate_2018,Teen Birth Rate_2019,Teen Birth Rate_2020,Teen Birth Rate_2021,Teen Birth Rate_2022,Teen Birth Rate_2023,Teen Birth Rate_2024,Teen Birth Rate_2025,Teen Birth Rate_2026,Teen Birth Rate_2027
0,1001,Alabama,Autauga,42.5,39.0,36.5,35.2,32.4,28.0,26.5,25.3,23.8,23.0,23.0,22.3,22.0,22.0,21.1
1,1003,Alabama,Baldwin,48.2,46.4,44.5,41.6,38.0,32.0,29.6,27.9,26.0,23.7,23.7,24.6,22.9,23.7,22.5
2,1005,Alabama,Barbour,74.4,73.8,72.9,67.9,59.0,50.2,45.1,40.9,37.1,34.7,34.7,35.4,34.3,34.7,33.8
3,1007,Alabama,Bibb,47.8,49.3,50.9,48.4,47.5,47.3,45.5,41.7,37.8,34.2,34.2,35.1,31.3,31.8,31.1
4,1009,Alabama,Blount,49.0,47.6,47.2,45.3,43.2,39.6,35.6,33.5,31.2,29.5,29.5,29.0,27.7,28.0,27.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,Wyoming,Sweetwater,56.5,55.6,52.3,50.1,46.1,36.8,34.3,31.3,29.3,26.7,26.7,27.5,25.9,27.2,25.5
3138,56039,Wyoming,Teton,33.1,31.2,27.1,23.2,20.4,14.9,11.6,10.5,9.3,9.5,9.5,9.3,9.6,10.1,9.7
3139,56041,Wyoming,Uinta,42.4,41.5,42.5,40.2,37.5,33.2,31.8,30.6,27.7,26.0,26.0,26.0,24.6,24.9,23.8
3140,56043,Wyoming,Washakie,43.0,41.9,39.7,36.2,32.2,28.9,27.6,25.2,23.5,20.9,20.9,22.5,20.2,20.7,19.8
3141,56045,Wyoming,Weston,36.2,43.0,44.8,42.2,36.1,32.2,32.5,25.7,21.9,18.8,18.8,20.4,18.3,18.6,17.9