In [202]:
import pandas as pd
import os
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler

In [203]:
file_path_2023 = 'Recources/2023.xlsx'
df_2023 = pd.read_excel(file_path_2023)

file_path_2022 = 'Recources/2022.xlsx'
df_2022 = pd.read_excel(file_path_2022)

file_path_2021 = 'Recources/2021.xlsx'
df_2021 = pd.read_excel(file_path_2021)

file_path_2020 = 'Recources/2020.xlsx'
df_2020 = pd.read_excel(file_path_2020)

file_path_2019 = 'Recources/2019.xlsx'
df_2019 = pd.read_excel(file_path_2019)

file_path_2018 = 'Recources/2018.xlsx'
df_2018 = pd.read_excel(file_path_2018)

file_path_2017 = 'Recources/2017.xlsx'
df_2017 = pd.read_excel(file_path_2017)

file_path_2016 = 'Recources/2016.xlsx'
df_2016 = pd.read_excel(file_path_2016)

file_path_2015 = 'Recources/2015.xlsx'
df_2015 = pd.read_excel(file_path_2015)

file_path_2014 = 'Recources/2014.xlsx'
df_2014 = pd.read_excel(file_path_2014)

file_path_2013 = 'Recources/2013.xlsx'
df_2013 = pd.read_excel(file_path_2013)

In [204]:
desired_columns_2023 = ['FIPS', 'State', 'County', '% Adults with Diabetes']
df_2023 = df_2023[desired_columns_2023]

desired_columns_2022 = ['FIPS', '% Adults with Diabetes']
df_2022 = df_2022[desired_columns_2022]

desired_columns_2021 = ['FIPS', '% Adults with Diabetes']
df_2021 = df_2021[desired_columns_2021]

desired_columns_2020 = ['FIPS', '% Adults with Diabetes']
df_2020 = df_2020[desired_columns_2020]

desired_columns_2019 = ['FIPS', '% Adults with Diabetes']
df_2019 = df_2019[desired_columns_2019]

desired_columns_2018 = ['FIPS', '% Adults with Diabetes']
df_2018 = df_2018[desired_columns_2018]

desired_columns_2017 = ['FIPS', '% Adults with Diabetes']
df_2017 = df_2017[desired_columns_2017]

desired_columns_2016 = ['FIPS', '% Adults with Diabetes']
df_2016 = df_2016[desired_columns_2016]

desired_columns_2015 = ['FIPS', '% Adults with Diabetes']
df_2015 = df_2015[desired_columns_2015]

desired_columns_2014 = ['FIPS', '% Adults with Diabetes']
df_2014 = df_2014[desired_columns_2014]

desired_columns_2013 = ['FIPS', '% Adults with Diabetes']
df_2013 = df_2013[desired_columns_2013]

In [205]:
year_2023 = '2023'

year_2022 = '2022'

year_2021 = '2021'

year_2020 = '2020'

year_2019 = '2019'

year_2018 = '2018'

year_2017 = '2017'

year_2016 = '2016'

year_2015 = '2015'

year_2014 = '2014'

year_2013 = '2013'

In [206]:
column_name= '% Adults with Diabetes'

new_column_name_2023 = f'{year_2023}_{column_name}'  # Modify the column name accordingly
df_2023.rename(columns={column_name: new_column_name_2023}, inplace=True)

new_column_name_2022 = f'{year_2022}_{column_name}'  # Modify the column name accordingly
df_2022.rename(columns={column_name: new_column_name_2022}, inplace=True)

new_column_name_2021 = f'{year_2021}_{column_name}'  # Modify the column name accordingly
df_2021.rename(columns={column_name: new_column_name_2021}, inplace=True)

new_column_name_2020 = f'{year_2020}_{column_name}'  # Modify the column name accordingly
df_2020.rename(columns={column_name: new_column_name_2020}, inplace=True)

new_column_name_2019 = f'{year_2019}_{column_name}'  # Modify the column name accordingly
df_2019.rename(columns={column_name: new_column_name_2019}, inplace=True)

new_column_name_2018 = f'{year_2018}_{column_name}'  # Modify the column name accordingly
df_2018.rename(columns={column_name: new_column_name_2018}, inplace=True)

new_column_name_2017 = f'{year_2017}_{column_name}'  # Modify the column name accordingly
df_2017.rename(columns={column_name: new_column_name_2017}, inplace=True)

new_column_name_2016 = f'{year_2016}_{column_name}'  # Modify the column name accordingly
df_2016.rename(columns={column_name: new_column_name_2016}, inplace=True)

new_column_name_2015 = f'{year_2015}_{column_name}'  # Modify the column name accordingly
df_2015.rename(columns={column_name: new_column_name_2015}, inplace=True)

new_column_name_2014 = f'{year_2014}_{column_name}'  # Modify the column name accordingly
df_2014.rename(columns={column_name: new_column_name_2014}, inplace=True)

new_column_name_2013 = f'{year_2013}_{column_name}'  # Modify the column name accordingly
df_2013.rename(columns={column_name: new_column_name_2013}, inplace=True)

In [207]:
df_2023

       FIPS    State      County  2023_% Adults with Diabetes
0      1000  Alabama         NaN                         13.0
1      1001  Alabama     Autauga                         10.6
2      1003  Alabama     Baldwin                          9.7
3      1005  Alabama     Barbour                         15.6
4      1007  Alabama        Bibb                         12.2
...     ...      ...         ...                          ...
3188  56037  Wyoming  Sweetwater                          7.9
3189  56039  Wyoming       Teton                          6.3
3190  56041  Wyoming       Uinta                          7.8
3191  56043  Wyoming    Washakie                          8.0
3192  56045  Wyoming      Weston                          7.8

[3193 rows x 4 columns]

In [208]:
df_merged = pd.merge(df_2022, df_2023, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2021, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2020, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2019, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2018, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2017, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2016, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2015, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2014, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2013, on='FIPS', how='left')

df_merged

,FIPS,2022_% Adults with Diabetes,State,County,2023_% Adults with Diabetes,2021_% Adults with Diabetes,2020_% Adults with Diabetes,2019_% Adults with Diabetes,2018_% Adults with Diabetes,2017_% Adults with Diabetes,2016_% Adults with Diabetes,2015_% Adults with Diabetes,2014_% Adults with Diabetes,2013_% Adults with Diabetes
0,1000,12.2,Alabama,NaN,13.0,14.5,14.2,NaN,NaN,NaN,NaN,NaN,NaN,12.657063
1,1001,11.2,Alabama,Autauga,10.6,12.7,11.1,14.2,12.4,13.0,10.9,12.1,11.8,12.300000
2,1003,9.4,Alabama,Baldwin,9.7,10.3,10.7,11.3,11.1,10.4,10.9,11.5,11.8,11.400000
3,1005,16.5,Alabama,Barbour,15.6,17.5,17.6,18.0,18.2,18.4,15.3,14.8,14.2,14.000000
4,1007,12.7,Alabama,Bibb,12.2,13.6,14.5,14.9,14.6,14.8,12.5,12.7,11.1,11.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,8.3,Wyoming,Sweetwater,7.9,8.3,8.8,8.4,7.9,8.1,7.6,7.6,7.1,6.800000
3189,56039,6.6,Wyoming,Teton,6.3,2.4,2.2,4.2,4.5,4.8,6.8,4.3,3.9,4.000000
3190,56041,8.3,Wyoming,Uinta,7.8,10.3,11.3,9.3,10.0,9.0,8.3,8.2,7.4,7.000000
3191,56043,8.9,Wyoming,Washakie,8.0,10.7,11.7,10.9,11.5,12.0,10.5,9.7,8.5,8.800000
3192,56045,8.3,Wyoming,Weston,7.8,11.1,9.0,9.4,10.2,10.0,9.1,8.5,8.3,7.400000

In [209]:
df_merged.dropna(subset=['FIPS'], inplace=True)

df_merged['FIPS'] = df_merged['FIPS'].astype(str).str.zfill(5)

df_merged['2013_% Adults with Diabetes'] = df_merged['2013_% Adults with Diabetes'].round(1)

# Get the column names of the DataFrame
columns = df_merged.columns.tolist()

# Swap the positions of the columns
columns.insert(4, columns.pop(1))

# Reorder the DataFrame columns
df_merged = df_merged[columns]

df_merged

,FIPS,State,County,2023_% Adults with Diabetes,2022_% Adults with Diabetes,2021_% Adults with Diabetes,2020_% Adults with Diabetes,2019_% Adults with Diabetes,2018_% Adults with Diabetes,2017_% Adults with Diabetes,2016_% Adults with Diabetes,2015_% Adults with Diabetes,2014_% Adults with Diabetes,2013_% Adults with Diabetes
0,01000,Alabama,NaN,13.0,12.2,14.5,14.2,NaN,NaN,NaN,NaN,NaN,NaN,12.7
1,01001,Alabama,Autauga,10.6,11.2,12.7,11.1,14.2,12.4,13.0,10.9,12.1,11.8,12.3
2,01003,Alabama,Baldwin,9.7,9.4,10.3,10.7,11.3,11.1,10.4,10.9,11.5,11.8,11.4
3,01005,Alabama,Barbour,15.6,16.5,17.5,17.6,18.0,18.2,18.4,15.3,14.8,14.2,14.0
4,01007,Alabama,Bibb,12.2,12.7,13.6,14.5,14.9,14.6,14.8,12.5,12.7,11.1,11.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Wyoming,Sweetwater,7.9,8.3,8.3,8.8,8.4,7.9,8.1,7.6,7.6,7.1,6.8
3189,56039,Wyoming,Teton,6.3,6.6,2.4,2.2,4.2,4.5,4.8,6.8,4.3,3.9,4.0
3190,56041,Wyoming,Uinta,7.8,8.3,10.3,11.3,9.3,10.0,9.0,8.3,8.2,7.4,7.0
3191,56043,Wyoming,Washakie,8.0,8.9,10.7,11.7,10.9,11.5,12.0,10.5,9.7,8.5,8.8
3192,56045,Wyoming,Weston,7.8,8.3,11.1,9.0,9.4,10.2,10.0,9.1,8.5,8.3,7.4

In [210]:
start_pos = 3
end_pos = 13

columns = df_merged.columns.tolist()

subset_columns = columns[start_pos:end_pos+1]

subset_columns.reverse()

columns[start_pos:end_pos+1] = subset_columns

df_merged = df_merged[columns]

df_merged

,FIPS,State,County,2013_% Adults with Diabetes,2014_% Adults with Diabetes,2015_% Adults with Diabetes,2016_% Adults with Diabetes,2017_% Adults with Diabetes,2018_% Adults with Diabetes,2019_% Adults with Diabetes,2020_% Adults with Diabetes,2021_% Adults with Diabetes,2022_% Adults with Diabetes,2023_% Adults with Diabetes
0,01000,Alabama,NaN,12.7,NaN,NaN,NaN,NaN,NaN,NaN,14.2,14.5,12.2,13.0
1,01001,Alabama,Autauga,12.3,11.8,12.1,10.9,13.0,12.4,14.2,11.1,12.7,11.2,10.6
2,01003,Alabama,Baldwin,11.4,11.8,11.5,10.9,10.4,11.1,11.3,10.7,10.3,9.4,9.7
3,01005,Alabama,Barbour,14.0,14.2,14.8,15.3,18.4,18.2,18.0,17.6,17.5,16.5,15.6
4,01007,Alabama,Bibb,11.8,11.1,12.7,12.5,14.8,14.6,14.9,14.5,13.6,12.7,12.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Wyoming,Sweetwater,6.8,7.1,7.6,7.6,8.1,7.9,8.4,8.8,8.3,8.3,7.9
3189,56039,Wyoming,Teton,4.0,3.9,4.3,6.8,4.8,4.5,4.2,2.2,2.4,6.6,6.3
3190,56041,Wyoming,Uinta,7.0,7.4,8.2,8.3,9.0,10.0,9.3,11.3,10.3,8.3,7.8
3191,56043,Wyoming,Washakie,8.8,8.5,9.7,10.5,12.0,11.5,10.9,11.7,10.7,8.9,8.0
3192,56045,Wyoming,Weston,7.4,8.3,8.5,9.1,10.0,10.2,9.4,9.0,11.1,8.3,7.8

In [211]:
output_directory = 'output_directory_path'

In [212]:
if not os.path.exists(output_directory):
    os.makedirs(output_directory)

In [213]:
output_filename = 'diabetes_data.xlsx'

In [214]:
output_file = os.path.join(output_directory, output_filename)

In [215]:
df_merged.to_excel(output_file, index=False)

In [216]:
print(f"df_merged exported to: {output_file}")

df_merged exported to: output_directory_path\diabetes_data.xlsx

In [217]:
df_merged.fillna(0, inplace=True)

In [218]:
df_merged

,FIPS,State,County,2013_% Adults with Diabetes,2014_% Adults with Diabetes,2015_% Adults with Diabetes,2016_% Adults with Diabetes,2017_% Adults with Diabetes,2018_% Adults with Diabetes,2019_% Adults with Diabetes,2020_% Adults with Diabetes,2021_% Adults with Diabetes,2022_% Adults with Diabetes,2023_% Adults with Diabetes
0,01000,Alabama,0,12.7,0.0,0.0,0.0,0.0,0.0,0.0,14.2,14.5,12.2,13.0
1,01001,Alabama,Autauga,12.3,11.8,12.1,10.9,13.0,12.4,14.2,11.1,12.7,11.2,10.6
2,01003,Alabama,Baldwin,11.4,11.8,11.5,10.9,10.4,11.1,11.3,10.7,10.3,9.4,9.7
3,01005,Alabama,Barbour,14.0,14.2,14.8,15.3,18.4,18.2,18.0,17.6,17.5,16.5,15.6
4,01007,Alabama,Bibb,11.8,11.1,12.7,12.5,14.8,14.6,14.9,14.5,13.6,12.7,12.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Wyoming,Sweetwater,6.8,7.1,7.6,7.6,8.1,7.9,8.4,8.8,8.3,8.3,7.9
3189,56039,Wyoming,Teton,4.0,3.9,4.3,6.8,4.8,4.5,4.2,2.2,2.4,6.6,6.3
3190,56041,Wyoming,Uinta,7.0,7.4,8.2,8.3,9.0,10.0,9.3,11.3,10.3,8.3,7.8
3191,56043,Wyoming,Washakie,8.8,8.5,9.7,10.5,12.0,11.5,10.9,11.7,10.7,8.9,8.0
3192,56045,Wyoming,Weston,7.4,8.3,8.5,9.1,10.0,10.2,9.4,9.0,11.1,8.3,7.8

In [219]:
print(df_merged.dtypes)

FIPS                            object
State                           object
County                          object
2013_% Adults with Diabetes    float64
2014_% Adults with Diabetes    float64
2015_% Adults with Diabetes    float64
2016_% Adults with Diabetes    float64
2017_% Adults with Diabetes    float64
2018_% Adults with Diabetes    float64
2019_% Adults with Diabetes    float64
2020_% Adults with Diabetes    float64
2021_% Adults with Diabetes    float64
2022_% Adults with Diabetes    float64
2023_% Adults with Diabetes    float64
dtype: object

In [220]:
X = df_merged.iloc[:, 3:13]  
y = df_merged['2023_% Adults with Diabetes']

In [221]:
X_encoded = pd.get_dummies(X, drop_first=True)
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

In [222]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [223]:
y_pred = model.predict(X_test)

In [224]:
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)

Mean Squared Error: 0.21773554291388067

In [225]:
output_directory = 'output_directory_path'
output_filename = 'predictions.xlsx'
output_file = os.path.join(output_directory, output_filename)

In [226]:
predictions_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
predictions_df.to_excel(output_file, index=False)
print(f"Predictions exported to: {output_file}")

Predictions exported to: output_directory_path\predictions.xlsx

In [230]:
# Predict values for 2024
X_pred = df_merged.iloc[:, 3:13]  
X_pred_encoded = pd.get_dummies(X_pred, drop_first=True)
y_pred_2024 = model.predict(X_pred_encoded)

In [232]:
year_2024 = '2024'
new_column_name_2024 = f'{year_2024}_{column_name}'  
df_merged[new_column_name_2024] = y_pred_2024

In [233]:
output_filename_predicted = 'diabetes_data_predicted.xlsx'
output_file_predicted = os.path.join(output_directory, output_filename_predicted)
df_merged.to_excel(output_file_predicted, index=False)
print(f"df_merged (including predicted values for 2024) exported to: {output_file_predicted}")

df_merged (including predicted values for 2024) exported to: output_directory_path\diabetes_data_predicted.xlsx