In [26]:
import pandas as pd
import os

In [27]:
directory = 'Recources'

In [28]:
excel_files = [file for file in os.listdir(directory) if file.endswith('.xlsx')]

In [29]:
combined_data = pd.DataFrame()

In [30]:
for file in excel_files:
    # Read the Excel file and get the first sheet
    df = pd.read_excel(os.path.join(directory, file))
    
    # Concatenate the data with the combined data
    combined_data = pd.concat([combined_data, df], ignore_index=True)

In [31]:
combined_data

,Year,FIPS,State,County,Deaths,Years of Potential Life Lost Rate,Years of Potential Life Lost Rate (Asian),Years of Potential Life Lost Rate (Black),Years of Potential Life Lost Rate (Hispanic),Years of Potential Life Lost Rate (White),...,% Native Hawaiian or Other Pacific Islander,# Hispanic,% Hispanic,# Non-Hispanic White,% Non-Hispanic White,# Not Proficient in English,% Not Proficient in English,% Female,# Rural Residents,% Rural
0,2013.0,1000.0,Alabama,NaN,70721.0,9608.900000,NaN,NaN,NaN,NaN,...,0.108834,NaN,4.036612,NaN,66.764826,65699.0,1.478454,51.496625,NaN,40.963183
1,2013.0,1001.0,Alabama,Autauga,729.0,8376.420000,NaN,NaN,NaN,NaN,...,0.094089,NaN,2.601914,NaN,76.401831,271.0,0.537955,51.220439,NaN,42.002162
2,2013.0,1003.0,Alabama,Baldwin,2325.0,7770.160000,NaN,NaN,NaN,NaN,...,0.065875,NaN,4.529314,NaN,83.246303,2788.0,1.655444,51.151743,NaN,42.279099
3,2013.0,1005.0,Alabama,Barbour,422.0,9458.140000,NaN,NaN,NaN,NaN,...,0.169623,NaN,5.346805,NaN,46.679450,400.0,1.545774,46.543014,NaN,67.789635
4,2013.0,1007.0,Alabama,Bibb,390.0,11543.900000,NaN,NaN,NaN,NaN,...,0.131775,NaN,1.989809,NaN,74.523412,172.0,0.802276,46.138979,NaN,68.352607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34810,2023.0,56037.0,Wyoming,Sweetwater,599.0,8419.275418,NaN,NaN,5860.54248,8620.761965,...,0.139376,6778.0,16.287788,32910.0,79.083962,359.0,0.901965,48.200125,4782.0,10.916313
34811,2023.0,56039.0,Wyoming,Teton,111.0,3283.066198,NaN,NaN,NaN,NaN,...,0.148462,3576.0,15.168611,19053.0,80.818664,511.0,2.296526,47.707317,9887.0,46.430920
34812,2023.0,56041.0,Wyoming,Uinta,287.0,9358.208153,NaN,NaN,NaN,NaN,...,0.130846,2102.0,10.186576,17893.0,86.711897,270.0,1.413539,48.975042,9101.0,43.095937
34813,2023.0,56043.0,Wyoming,Washakie,115.0,7073.941804,NaN,NaN,NaN,NaN,...,0.077872,1099.0,14.263465,6334.0,82.206360,28.0,0.379970,48.591823,3068.0,35.954529
34814,2023.0,56045.0,Wyoming,Weston,75.0,5149.435226,NaN,NaN,NaN,NaN,...,0.014826,312.0,4.625649,6058.0,89.814678,14.0,0.212669,46.805041,3931.0,54.536626

In [32]:
output_directory = 'output_directory_path'

In [33]:
if not os.path.exists(output_directory):
    os.makedirs(output_directory)

In [34]:
output_filename = 'combined_data.xlsx'

In [35]:
output_file = os.path.join(output_directory, output_filename)

In [36]:
combined_data.to_excel(output_file, index=False)

In [37]:
print(f"Combined data exported to: {output_file}")

Combined data exported to: output_directory_path\combined_data.xlsx